.container {
    width: auto;
    height: auto;

    background-color: whitesmoke;
}

.fc-toolbar-title {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}


.fc .fc-button-primary {
    background-color: lightslategray;
}

.fc .fc-button-group>.fc-button.fc-button-active,
.fc .fc-button-group>.fc-button:active,
.fc .fc-button-group>.fc-button:focus,
.fc .fc-button-group>.fc-button:hover {
    background-color: steelblue;
}